.proposed-shipment {
  margin-bottom: 3rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  &__title {
    font-size: 1.6rem;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__secondary-title {
    font-size: 1.6rem;
  }
}

.delivery-step {
  &__delivery {
    background: #fafbfc;
    border: solid 1px #f2f2f2;
    margin-bottom: 2rem;
    padding: 3rem 1.5rem;

    > legend {
      font-size: 1.4rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}


.textarea-input {
  label {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .3rem;
    text-transform: uppercase;
  }

}