.payment-info {
  font-size: 1.4rem;

  &__title {
    display: inline;
    font-size: 1.4rem - .1;;
    font-weight: 500;
  }

  &__edit {
    font-size: 1.4rem - .1;;
    margin-left: .3rem;
    text-decoration: none;
  }

  &__info {
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      margin: .5rem 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
