$small-screen: 900px;

@mixin desktop {
  @media (min-width: $small-screen) {
    @content;
  }
}

.order-details {
  &__info {
    @include desktop {
      display: flex;
    }

    > * {
      margin-bottom: 2em;

      @include desktop {
        padding: 0 .8rem;
        width: 25%;
      }
    }
  }
}